<section class="todoapp">
  <%= render 'header'%>
	<section class="main" style="display: block;">
		<%# render 'toggle' %>
		<ul class="todo-list">
      <li>
        <div class="view">
          <label><a href="#">Shopping List</a></label>
        </div>
      </li>
      <li>
        <div class="view">
          <label><a href="#">Reading List</a></label>
        </div>
      </li>
      <li>
        <div class="view">
          <label><a href="#">Gift List</a></label>
        </div>
      </li>
      <%# render 'list_item' %>
    </ul>
	</section>
  <%= render 'footer_blank'%>
</section>
