<h1>Pig Latinizer!</h1>
<form action="/piglatinize" method="post">
  <p>Enter your phrase:</p>
  <textarea name="user_phrase"></textarea>
  <br>
  <button type="submit" value="submit">Submit</button>
</form>
