<h1>Posts Page</h1>

<ul>
  <li>
    <p>Leverage agile frameworks to provide a robust synopsis for high level overviews</p>
    <p>By Fred Bloggs</p>
  </li>
  <li>
    <p>Iterative approaches to corporate strategy</p>
    <p>By Joe Shmoe</p>
  </li>
  <li>
    <p>Organically grow the holistic world view of disruptive innovation</p>
    <p>By Tom Hardy</p>
  </li>
</ul>

<p><a href="/posts/new">Create a new post</a></p>
