<h1>Posts list</h1>

<ul>
	<% @posts.each do |post| %>
		<li>
			<strong><%= post.title %></strong><br>
			<span><%= post.content %></span>
		</li>
	<% end %>
</ul>
<br>
<%= link_to 'Create post', new_post_path %> |
<%= link_to 'Categories', categories_path %>