<h1><%= @title %></h1>

<p><%= @content %></p>

<div>
    <a href="<%= @title %>/edit">Edit this page</a>
    <form action="<% @title %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete this page">
    </form>
</div>