<table>
  <tr>
    <th>Name</th>
    <th>Year Completed</th>
  </tr>
  <tr>
    <td><%= @landmark.name %></td>
    <td><%= @landmark.year_completed %></td>
  </tr>
<table>

<p><a href="/landmarks/<%= @landmark.id %>/edit">Edit</a>&nbsp;&nbsp;<a href="/landmarks">Show all</a></p>  
