<h1>User registration form</h1>

<%= form_for @user do |f| %>
  <%# binding.pry %>
  <%= f.label :email %><br>
  <%= f.text_field :email %>

  <!-- VERSION 2 -->
  <br><br>
  <fieldset>
    <legend>Home Address</legend>

    <label for="">Street 1</label><br>
    <input type="text" name="user[addresses_attributes][][street_1]"><br><br>

    <label for="">Street 2</label><br>
    <input type="text" name="user[addresses_attributes][][street_2]"><br><br>

    <input type="hidden" name="user[addresses_attributes][][address_type]" value="Home">
  </fieldset>

  <br><br>
  <fieldset>
    <legend>Business Address</legend>

    <label for="">Street 1</label><br>
    <input type="text" name="user[addresses_attributes][][street_1]"><br><br>

    <label for="">Street 2</label><br>
    <input type="text" name="user[addresses_attributes][][street_2]"><br><br>

    <input type="hidden" name="user[addresses_attributes][][address_type]" value="Business">
  </fieldset>

  <br><br>
  <%= f.submit %>
<% end %>

<!-- VERSION 1  -->
<!-- <form>
  <label for="">Email</label><br>
  <input type="text" name=""><br><br>

  <fieldset>
    <legend>Home Address</legend>

    <label for="">Street</label><br>
    <input type="text" name=""><br><br>

    <label for="">Street</label><br>
    <input type="text" name=""><br><br>
  </fieldset>


  <fieldset>
    <legend>Business Address</legend>

    <label for="">Street</label><br>
    <input type="text" name=""><br><br>

    <label for="">Street</label><br>
    <input type="text" name=""><br><br>
  </fieldset>

  <fieldset>
    <legend>Existing Team by Name</legend>

    <label for="">Enter your team name</label><br>
    <input type="text" name=""><br><br>
  </fieldset>

  <fieldset>
    <legend>Create a new Team</legend>

    <label for="">Name</label><br>
    <input type="text" name=""><br><br>

    <label for="">Hometown</label><br>
    <input type="text" name=""><br><br>
  </fieldset><br>

  <input type="submit" name="Submit">

</form> -->
