<div class="container">
  <nav>
    <ul class="nav navbar-nav">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
  <div class="row">
    <div class="col-lg-4">
      <p>Dummy content</p>
      <button class="btn btn-primary">Click</button>
    </div>
    <div class="col-lg-4">
      <p>Dummy content</p>
      <button class="btn btn-primary">Click</button>
    </div>
    <div class="col-lg-4">
      <p>Dummy content</p>
      <button class="btn btn-primary">Click</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>Dummy content</p>
      <button class="btn btn-primary">Click</button>
    </div>
    <div class="col-lg-4">
      <p>Dummy content</p>
      <button class="btn btn-primary">Click</button>
    </div>
    <div class="col-lg-4">
      <p>Dummy content</p>
      <button class="btn btn-primary">Click</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>Dummy content</p>
      <button class="btn btn-primary">Click</button>
    </div>
    <div class="col-lg-4">
      <p>Dummy content</p>
      <button class="btn btn-primary">Click</button>
    </div>
    <div class="col-lg-4">
      <p>Dummy content</p>
      <button class="btn btn-primary">Click</button>
    </div>
  </div>
</div>
