<h1 class="product_name"><%= @product.name %></h1>
<p class="product_description"><%= @product.description %></p>

<a href="#" class="js_next" data-id="<%= @product.id %>">Next Product</a>

<script type="text/javascript" charset="utf-8">
  $(function(){
    $(".js_next").on("click", function(){
      var nextId = parseInt($(".js_next").attr("data-id")) + 1;
      $.getJSON("/products/" + nextId + "/data", function(data){
        $(".product_name").text(data['name']);
        $(".product_description").text(data['description']);
        $(".js_next").attr("data-id", data['id']);
      })
    })
  })

</script>
