<header class="header">
  <!-- form for adding new lists -->
  <h1>todo lists</h1>

  <%= form_for(list) do |f| %>
    <%# if list.errors[:name].present? %>
      <%# f.text_field :name, {class: 'new-todo', placeholder: "Lists must have a name"} %>
    <%# else %>
      <%# f.text_field :name, {class: 'new-todo', placeholder: "Add a new List"} %>
    <%# end %>

    <!-- replace above with this one line -->
    <%= f.text_field :name, {class: 'new-todo', placeholder: list.errors.full_messages_for(:name).first || "Add a new list"} %>
    <% f.submit style: "display: none" %>
    
  <% end %>
</header>
