<li class="<%= 'completed' if item.complete? %>">
  <div class="view">
    <input class="toggle" type="checkbox" <%= "checked='checked'" if item.complete? %>>
    <label><%= item.description %></label>
    <button class="destroy"></button>
  </div>
</li>
