<h1>Products</h1>
<% @products.each do |product| %>
  <h3><%= product.name %></h3>
  <div id="product-<%= product.id %>"><%= truncate(product.description) %></div>
  <button class="js-more" data-id="<%= product.id %>">More Info</button>
<% end %>

<script type="text/javascript" charset="utf-8">
$(function() {
  $(".js-more").on("click", function() {
    var id = $(this).data("id");
    $.get("/products/" + id + ".json", function(data) {
      var inventoryText = "<strong>Available</strong>"
      if (data['inventory'] < 1) {
        inventoryText = "<strong>Sold Out</strong>" 
      }
      var order_list = "<ul>"
      data['orders'].forEach(function(order){
        order_list += "<li>Order id: " + order['id'] + ", created at " + order['created_at'] + "</li>" 
      })
      order_list += "</ul>"
      var descriptionText = "<p>" + data['description'] + "</p><p>" + inventoryText + "</p>" + order_list;
      $("#product-" + data['id']).html(descriptionText)
    })
  });
});
</script>
