.chart,
main {
  width: 45%;
  display: inline-block;
  padding: 20px;
  vertical-align: top;
}

.tweet {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 20px;
  background-color: white;
  margin-bottom: 10px;
}

html {
  background-color: #EDEDED;
}
