<h1>Coupon Form</h1>

<%= form_tag coupons_path, method: 'post' do %>
	<label for="coupon_code">Coupon code:</label><br>
	<%= text_field_tag :coupon_code %><br><br>

	<label for="store">Store:</label><br>
	<%= text_field_tag :store %><br><br>

	<%= submit_tag 'Submit Coupon' %>
<% end %>