<h1>New Post Form</h1>

<%= form_tag posts_path do %>

	<label for="post_title">Title:</label><br>
	<%= text_field_tag :'post[title]' %><br>

	<label for="post_description">Description</label><br>
	<%= text_area_tag :'post[description]' %><br>

	<%= submit_tag "Submit Post" %>

<% end %>