<h1>Create a post</h1>
<!-- the action ids the url/path to the action that will process the form data -->
<form action="/posts" method="post">
  <label for="title">Title</label><br>
  <input id="title" name="title" value="" placeholder="Add a title" /><br><br>
  <label for="content">Content</label><br>
  <textarea id="content" name="content" value ="" placeholder="Add some content"></textarea><br><br>
  <input type="submit"/>
</form>
