<h1>Class Information</h1>
<p>class: <%= @school_class.title %></p>
<p>room number: <%= @school_class.room_number %></p>

<%= link_to 'Edit', edit_school_class_path(@school_class) %> |
<%= link_to 'Back', school_classes_path %>