<h1>Add a new Landmark</h1>

<form action="/landmarks" method="post">

  <label for="landmark_name">Name:</label>
  <input id="landmark_name" type="text" name="landmark[name]" /><br><br>

  <label for="landmark_year_completed">Year completed:</label>
  <input id="landmark_year_completed" type="text" name="landmark[year_completed]" /><br><br>

  <input type="submit" name="submit" value="Create New Landmark">

</form>
