<h1>Classroom List</h1>

<ul>
	<%# @classrooms.each do |classroom| %>
		<%#= link_to classroom.course_name, classroom_path(classroom) %>
	<%# end %>

	<%= render(@classrooms) || 'No classrooms found' %>

</ul>

<br>
<%= link_to 'Students', students_path %>