<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Enter your selection for the New Team!</h1>
   <form action="/team" method="post">

    <label for="name">Team Name:</label>
    <input id="name" type="text" name="name" /><br><br>

    <label for="coach">Coach</label>
    <input id="coach" type="text" name="coach" /><br><br>

    <label for="pg">Point Guard</label>
    <input id="pg" type="text" name="pg" /><br><br>

    <label for="sg">Shooting Guard</label>
    <input id="sg" type="text" name="sg" /><br><br>

    <label for="sf">Small Forward</label>
    <input id="sf" type="text" name="sf" /><br><br>

    <label for="pf">Power Foward</label>
    <input id="pf" type="text" name="pf" /><br><br>

    <label for="c">Center</label>
    <input id="c" type="text" name="c" /><br><br>

    <button value="submit">Submit</button>
   </form>

 </body>
</html>
