<%# Write your code here! %>
<h1>Welcome!</h1>

<form action="/" method="post">
  <label for="user_name">Name:</label>
  <input id="user_name" name="user_name"/><br>
  <!-- <input type="submit"/> -->
  <input type="submit" value="Submit" />
</form>
